<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeviceId" version="6.3.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="3.1.0" targetFramework="net40" />
  <package id="DockPanelSuite.ThemeVS2005" version="3.1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="ZKemkeeper" version="1.0.2" targetFramework="net40" />
</packages>